/* Estilos generales */
*{
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #F8F005;
    margin: 0;
  }

h1{
    margin: 0 0 20px 0;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
      letter-spacing:0.1em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: white;
    text-shadow: 
                          8px 8px #ff1f8f,
                          20px 20px #000000;
  }
h2{
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 5px;
  text-align: center;
  margin: 7px 0;
}

h3{
  font-family: 'Bebas Neue', cursive;
}

fieldset{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    width: 70vh;  
    border: none;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  font-family: 'Bebas Neue', cursive;

  position: relative;
  width: 350px;
  height: 550px;
  background: #fff706;
  border-radius: 25%;
  box-shadow: 20px 20px rgba(0,0,0,.15);
  transition: all .4s ease;
}
#enviarForm1, #enviarForm2{
  font-family: 'Bebas Neue', cursive;
  cursor: pointer;
  width: 25%;
}
#form2>p>a{
  text-decoration: none;
  color: purple;
}
#form2>p{
  margin-top: 0;
  margin-bottom: 30px;
}

form:hover{
  box-shadow: 10px 10px rgba(0,0,0,.25);
}

form>input{
  border-radius: 17px;
}

#divHome1{
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#divHome2{
  height: 50vh;

}

#divGoogle{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#divGoogle>h3{
  margin-top: 40px;
  margin-bottom: 0;
}

#comenzar{
  display: none;

}

#logout{
  display: none;
}

#logout>h3{
  margin-top: 40px;
  margin-bottom: 0;
}

#divResults{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#resultados{
  font-family: 'Bebas Neue', cursive;
  font-size: 40px;
  text-align: center;
  margin: 30px;
}
#span{
  color: rgb(233, 15, 142);
  font-size: 50px;
  
}
#h3gr1{
  display: none;
}
#h3gr2{
  display: none;
}

/* Estilos de los botones */
  button, button::after {
    margin-top: 10px;
    width: 300px;
    height: 86px;
    font-size: 24px;
    font-family: 'Bebas Neue', cursive;
    background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    line-height: 88px;
    box-shadow: 6px 0px 0px #00E6F6;
    outline: transparent;
    position: relative;
    cursor: pointer;
    
  }
  
  button::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    
    content: 'AVAILABLE NOW';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
    text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
    clip-path: var(--slice-0);
  }
  
  button:hover::after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
  }

  button>a, button>a:visited{
      text-decoration: none;
      color: white;
  }
  
  @keyframes glitch {
    0% {
      clip-path: var(--slice-1);
      transform: translate(-20px, -10px);
    }
    10% {
      clip-path: var(--slice-3);
      transform: translate(10px, 10px);
    }
    20% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 10px);
    }
    30% {
      clip-path: var(--slice-3);
      transform: translate(0px, 5px);
    }
    40% {
      clip-path: var(--slice-2);
      transform: translate(-5px, 0px);
    }
    50% {
      clip-path: var(--slice-3);
      transform: translate(5px, 0px);
    }
    60% {
      clip-path: var(--slice-4);
      transform: translate(5px, 10px);
    }
    70% {
      clip-path: var(--slice-2);
      transform: translate(-10px, 10px);
    }
    80% {
      clip-path: var(--slice-5);
      transform: translate(20px, -10px);
    }
    90% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 0px);
    }
    100% {
      clip-path: var(--slice-1);
      transform: translate(0);
    }
  }



  /* //MEDIA QUERIES */

  @media only screen and (min-width: 500px){
    form{
      width: 480px;
    }

    button{
      width: 320px;
      font-size: 33px;
    }
  }

  @media only screen and (min-width: 840px) {
    form{
      width: 750px;
    }

    button{
      width: 500px;
      font-size: 46px;
    }
  }
